###########################################################################
# [ICR_Set_Window_Position_Behavior_M3.cfg] ICR BEHAVIOR WINDOW POSITION FOR MONITOR 3
###########################################################################

# Monitor positions:
	# M1 [0, 0, 1920, 1080] 
	# M2 [1921, 0, 1920, 1080] 
	# M3 [3841, 0, 1600, 1200] 

### Window names
	%vt1WinStr = "VT1_Win"
	%vt2WinStr = "VT2_Win"

######## MOVE MAIN WINDOWS 

	# Set "Properties" Window Position
	%L = 4750
	%T = 10
		-SetDialogPosition Properties %L %T

	# System "Status" Window Position
	%L = 4707
	%T = 10
		-SetDialogPosition Status %L %T

	# Hack to get Status window in front    
		-SetDialogVisible Properties False
		-SetDialogVisible Status False
		-SetDialogVisible Properties True
		-SetDialogVisible Status True

######## MOVE VT WINDOWS 

	# Set "VT1" Window Position
	%L = 4625
	%T = 575
	%W = 750
	%H = 587
		-SetPlotWindowPosition %vt1WinStr %L %T %W %H

	# Set "VT2" Window Position
	%L = 4625
	%T = 610
	%W = 750
	%H = 587
		-SetPlotWindowPosition %vt2WinStr %L %T %W %H