###########################################################################
# [ICR_Basic.cfg] ICR COMMON ENTITY SETUP
############################################################################

######### BASIC SOFTWARE SETUP

        # Save data to temp folder
		-SetDataDirectory "C:\CheetahData\Temp" 

	#Event Dialog Setup
		-SetDialogPosition Events 2 45
		-SetDialogVisible Events True
	#-SetEventStringImmediateMode Off
	#-SetEventStringSingleKeyMode Off
	#-SetEventDisplayTTLValueFormat Binary

	#Properties Display Setup
		-SetDialogPosition Properties 2 340
		-SetDialogVisible Properties True

	#System Status Dialog Setup
		-SetDialogPosition Status 2 275
		-SetDialogVisible Status True
		-SetSystemStatusShowDetails True

######### ACQUISITION SYSTEM SETUP

		-ProcessConfigurationFile DigitalLynxSX.cfg

######## EVENT ACQUISITION ENTITY SETUP

		-SetNetComDataBufferingEnabled Events True
		-SetNetComDataBufferSize Events 3000