######## VARIABLE SUBSTITUTION SETUP

	%subSystemName = "AcqSystem1_Ultrasonic"
	%timeWindowName = "Ultrasonic Microphone"
	%plotWindowPositionX = 400
	%plotWindowPositionY = 400
	%plotWindowWidth = 1100
	%plotWindowHeight = 700
	
	%dspEnabled = false
	%inputInverted = false

######## CSC CREATION

%acqEntName = "CSC_UltrasonicMic"
%currentADChannel = 0
-CreateCscAcqEnt %acqEntName %subSystemName
	-SetChannelNumber %acqEntName %currentADChannel
	-SetDspLowCutFilterEnabled %acqEntName %dspEnabled
	-SetDspHighCutFilterEnabled %acqEntName %dspEnabled
	-SetInputInverted %acqEntName %inputInverted


######## TIME WINDOW CREATION

-CreatePlotWindow Time %timeWindowName
	-SetPlotWindowPosition %timeWindowName %plotWindowPositionX %plotWindowPositionY %plotWindowWidth %plotWindowHeight
	-AddPlot %timeWindowName %acqEntName


