###########################################################################
# [ICR_Set_VT_Entities_Ephys_Sleep.cfg] ICR EPHYS SLEEP VT SETTINGS
###########################################################################

######## VARIABLE SUBSTITUTION SETUP

    ### Plot window variables
	%vt1WinStr = "VT1_Win"

	### VT1 settings 
	%vt1SetRedThreshold = 25
	%vt1SetGreenThreshold = 10
	%vt1SetSaturation = 255
	%vt1SetHue = 128
	%vt1SetContrast = 255
	%vt1SetBrightness = 180

######## VIDEO TRACKING ENTITY SETTINGS

	# Change VT1 Entitity Settings
	%acqEntName = VT1
		-SetVideoInput %acqEntName Composite
		-SetLedColor %acqEntName 0 RED
		-SetLedColor %acqEntName 1 GREEN
		-SetRedThreshold %acqEntName %vt1SetRedThreshold
		-SetRedThresholdEnabled %acqEntName True
		-SetBlueThreshold %acqEntName 0
		-SetBlueThresholdEnabled %acqEntName False
		-SetGreenThreshold %acqEntName %vt1SetGreenThreshold
		-SetGreenThresholdEnabled %acqEntName True
		-SetIntensityThreshold %acqEntName 0
		-SetIntensityThresholdEnabled %acqEntName False
		-SetSaturation %acqEntName %vt1SetSaturation
		-SetHue %acqEntName %vt1SetHue
		-SetContrast %acqEntName %vt1SetContrast
		-SetBrightness %acqEntName %vt1SetBrightness
	
######## GRAPHICS SETTINGS

	# Set VT1 Show Direction Arrow
		-SetShowDirectionArrow %vt1WinStr True
	

