###########################################################################
# [ICR_Cheetah_Ephys.cfg] ICR EPHYS TOP CHEETAH CONFIG 
###########################################################################

######### BASIC SOFTWARE SETUP

        # Save data to temp folder
	-SetDataDirectory "C:\CheetahData\Temp" 

	#Event Dialog Setup
	-SetDialogPosition Events 2 45
	-SetDialogVisible Events True
	#-SetEventStringImmediateMode Off
	#-SetEventStringSingleKeyMode Off
	#-SetEventDisplayTTLValueFormat Binary

	#Properties Display Setup
	-SetDialogPosition Properties 2 375
	-SetDialogVisible Properties True

	#System Status Dialog Setup
	-SetDialogPosition Status 2 275
	-SetDialogVisible Status True
	-SetSystemStatusShowDetails True

######### ACQUISITION SYSTEM SETUP

	-ProcessConfigurationFile DigitalLynxSX.cfg

######### VIDEO TRACKING

	-ProcessConfigurationFile ICR_Create_VT_Entities.cfg 

######### WINDOW CREATION

	-ProcessConfigurationFile ICR_Create_Window_Entities.cfg 

######### LOAD EPHYS CONFIGS
	-ProcessConfigurationFile ICR_Set_VT_Entities_Ephys_Sleep.cfg
	-ProcessConfigurationFile ICR_Create_TT_Entities.cfg
	-ProcessConfigurationFile ICR_Set_TT_Entities.cfg
	-ProcessConfigurationFile ICR_Set_TT_Graphics.cfg
	-ProcessConfigurationFile ICR_Set_Window_Position_Ephys_M1.cfg


